<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="Azure">
        <contentSearch>
            <indexConfigurations>
                <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
                    <documentBuilderType>Sitecore.Support.ContentSearch.Azure.CloudSearchDocumentBuilder, Sitecore.Support.373712</documentBuilderType>
                </defaultCloudIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>